body {
	font-family: "Open Sans","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Verdana,Tahoma,sans-serif;
	line-height: 1.8;
	color: rgba(0, 0, 0, 0.8);
}

html {
	background: linear-gradient(to left,#FFCCCC 50%,#CCFFFF 50%);
	height: 100%;
	width: 100%;
	background-position: center 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.male {
	display: inline-block;
	left: 22%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.female {
	display: inline-block;
	right: 22%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.male_img {
	width: 128px;
	max-width: 100%;
	height: auto;
	border-radius: 100%;
}

.male_img:hover {
	transition: all ease 1s;
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.female_img {
	width: 128px;
	max-width: 100%;
	height: auto;
	border-radius: 100%;
}

.female_img:hover {
	transition: all ease 1s;
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.clock {
	text-align: center;
	line-height: 1;
	font-size: 20px;
}

@keyframes fade-in {
  
	0% {
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.Fade_In {
	animation: fade-in;
	animation-duration: 1.5s;
	-webkit-animation: fade-in 1.5s;
}

@media screen and (max-device-width: 650px) {
	html {
		background: linear-gradient(to top,#FFCCCC 50%,#CCFFFF 50%);
		background-position: center 0;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

	.male {
		all: unset;
		display: inline-block;
		top: 10%;
		position: absolute;
		left: 50%;
	}

	.female {
		all: unset;
		display: inline-block;
		bottom: 10%;
		position: absolute;
		left: 50%;
	}

	.male_img {
		width: 110px;
		position: relative;
		right: 50%;
	}

	.female_img {
		width: 110px;
		position: relative;
		right: 50%;
	}
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.blessing {
	background-color: #fff;
	width: 120px;
	height: 60px;
	line-height: 60px;
	font-size: 17px;
	text-align: center;
	border-radius: 16px;
	box-shadow: 3px 7px 21px 3px rgba(0,0,0,.1);
	margin: 0 auto;
	padding: 0 6px;
	font-weight: 300;
	cursor: pointer;
}

.c-message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 15px;
	border-radius: 12px;
	font-weight: 250;
	background: #fff;
	color: #666;
	box-shadow: 0 2px 4px rgba(0,0,0,.12),0 0 6px rgba(0,0,0,.04);
	z-index: 9999;
}

.c-message--main {
	padding: 17.5px 20px;
	text-align: center;
}

@keyframes fade-out {
  
	0% {
		opacity: 1;
	}

	40% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-out {
	0% {
		opacity: 1;
	}

	40% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

.c-message.messageFadeInDown {
	animation: fade-in;
	animation-duration: 0.5s;
	-webkit-animation: fade-in 0.5s;
}

.c-message.messageFadeOutUp {
	animation: fade-out;
	animation-duration: 1.5s;
	-webkit-animation: fade-out 1.5s;
}

#loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background-color: #FFFFFF;
}

#loading-center {
	width: 100%;
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
}

.chest {
	width: 125px;
	height: 125px;
	margin: 0 auto;
	position: relative;
}

.heart {
	position: absolute;
	z-index: 2;
	background: linear-gradient(-90deg,#F50A45 0%,#d5093c 40%);
	animation: beat 0.7s ease 0s infinite normal;
}

.heart.center {
	background: linear-gradient(-45deg,#B80734 0%,#d5093c 40%);
}

.heart.top {
	z-index: 3;
}

.sided {
	top: 25px;
	width: 55px;
	height: 55px;
	border-radius: 110px;
}

.center {
	width: 52.5px;
	height: 52.5px;
	bottom: 25px;
	left: 36.25px;
	transform: rotateZ(225deg);
}

.left {
	left: 15.5px;
}

.right {
	right: 15.5px;
}

@keyframes beat {
	0% {
		transform: scale(1) rotate(225deg);
		box-shadow: 0 0 20px #d5093c;
	}

	50% {
		transform: scale(1.1) rotate(225deg);
		box-shadow: 0 0 35px #d5093c;
	}

	100% {
		transform: scale(1) rotate(225deg);
		box-shadow: 0 0 20px #d5093c;
	}
}